In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("Data for python.csv")

In [34]:
df

       Order ID  x_kg  y_kg x_zone y_zone                     ship
0    2001806232   0.5   1.5      d      d          Forward charges
1    2001806273   1.0   1.0      d      d          Forward charges
2    2001806408   1.0   2.5      d      d          Forward charges
3    2001806458   1.0   1.0      b      b          Forward charges
4    2001807012   0.5   0.5      d      d          Forward charges
..          ...   ...   ...    ...    ...                      ...
119  2001812941   0.5   1.0      b      d          Forward charges
120  2001809383   1.0   0.5      b      d  Forward and RTO charges
121  2001820978   1.0   0.5      b      d          Forward charges
122  2001811475   1.0   0.5      e      b          Forward charges
123  2001811305   1.0   0.5      b      d          Forward charges

[124 rows x 6 columns]

In [35]:
df

       Order ID  x_kg  y_kg x_zone y_zone                     ship
0    2001806232   0.5   1.5      d      d          Forward charges
1    2001806273   1.0   1.0      d      d          Forward charges
2    2001806408   1.0   2.5      d      d          Forward charges
3    2001806458   1.0   1.0      b      b          Forward charges
4    2001807012   0.5   0.5      d      d          Forward charges
..          ...   ...   ...    ...    ...                      ...
119  2001812941   0.5   1.0      b      d          Forward charges
120  2001809383   1.0   0.5      b      d  Forward and RTO charges
121  2001820978   1.0   0.5      b      d          Forward charges
122  2001811475   1.0   0.5      e      b          Forward charges
123  2001811305   1.0   0.5      b      d          Forward charges

[124 rows x 6 columns]

In [36]:
f_a_fix=29.5
f_a_add=23.6
f_b_fix=33
f_b_add=28.3
f_c_fix=40.1
f_c_add=38.9
f_d_fix=45.4
f_d_add=44.8
f_e_fix=56.6
f_e_add=55.5
r_a_fix=13.6
r_a_add=23.6
r_b_fix=20.5
r_b_add=28.3
r_c_fix=31.9
r_c_add=38.9
r_d_fix=41.3
r_d_add=44.8
r_e_fix=50.7
r_e_add=55.5

In [37]:
h= []
for i,j,k in zip(df["x_kg"],df["x_zone"],df["ship"]):
    if (i<=0.5) & (j=="a") & (k =="Forward charges"):
        h.append(f_a_fix)
    elif (i>0.5) & (j=="a") & (k == "Forward charges"):
        h.append(f_a_fix+(((i/0.5)-1)*f_a_add))
    elif (i<=0.5) & (j=="a") & (k == "Forward and RTO charges"):
        h.append(f_a_fix+r_a_fix)
    elif (i>0.5) & (j=="a") & (k == "Forward and RTO charges"):
        h.append((f_a_fix+(((i/0.5)-1)*f_a_add))+(r_a_fix+(((i/0.5)-1)*r_a_add)))

    elif (i<=0.5) & (j=="b") & (k =="Forward charges"):
        h.append(f_b_fix)
    elif (i>0.5) & (j=="b") & (k == "Forward charges"):
        h.append(f_b_fix+(((i/0.5)-1)*f_b_add))
    elif (i<=0.5) & (j=="b") & (k == "Forward and RTO charges"):
        h.append(f_b_fix+r_b_fix)
    elif (i>0.5) & (j=="b") & (k == "Forward and RTO charges"):
        h.append((f_b_fix+(((i/0.5)-1)*f_b_add))+(r_b_fix+(((i/0.5)-1)*r_b_add)))
    
    elif (i<=0.5) & (j=="c") & (k =="Forward charges"):
        h.append(f_c_fix)
    elif (i>0.5) & (j=="c") & (k == "Forward charges"):
        h.append(f_c_fix+(((i/0.5)-1)*f_c_add))
    elif (i<=0.5) & (j=="c") & (k == "Forward and RTO charges"):
        h.append(f_c_fix+r_c_fix)
    elif (i>0.5) & (j=="c") & (k == "Forward and RTO charges"):
        h.append((f_c_fix+(((i/0.5)-1)*f_c_add))+(r_c_fix+(((i/0.5)-1)*r_c_add)))

    elif (i<=0.5) & (j=="d") & (k =="Forward charges"):
        h.append(f_d_fix)
    elif (i>0.5) & (j=="d") & (k == "Forward charges"):
        h.append(f_d_fix+(((i/0.5)-1)*f_d_add))
    elif (i<=0.5) & (j=="d") & (k == "Forward and RTO charges"):
        h.append(f_e_fix+r_e_fix)
    elif (i>0.5) & (j=="d") & (k == "Forward and RTO charges"):
        h.append((f_d_fix+(((i/0.5)-1)*f_d_add))+(r_d_fix+(((i/0.5)-1)*r_d_add)))

    elif (i<=0.5) & (j=="e") & (k =="Forward charges"):
        h.append(f_e_fix)
    elif (i>0.5) & (j=="e") & (k == "Forward charges"):
        h.append(f_e_fix+(((i/0.5)-1)*f_e_add))
    elif (i<=0.5) & (j=="e") & (k == "Forward and RTO charges"):
        h.append(f_e_fix+r_e_fix)
    elif (i>0.5) & (j=="e") & (k == "Forward and RTO charges"):
        h.append((f_e_fix+(((i/0.5)-1)*f_e_add))+(r_e_fix+(((i/0.5)-1)*r_e_add)))

In [38]:
len(h)

124

In [39]:
l = []
for i,j,k in zip(df["y_kg"],df["y_zone"],df["ship"]):
    if (i<=0.5) & (j=="a") & (k =="Forward charges"):
        l.append(f_a_fix)
    elif (i>0.5) & (j=="a") & (k == "Forward charges"):
        l.append(f_a_fix+(((i/0.5)-1)*f_a_add))
    elif (i<=0.5) & (j=="a") & (k == "Forward and RTO charges"):
        l.append(f_a_fix+r_a_fix)
    elif (i>0.5) & (j=="a") & (k == "Forward and RTO charges"):
        l.append((f_a_fix+(((i/0.5)-1)*f_a_add))+(r_a_fix+(((i/0.5)-1)*r_a_add)))

    elif (i<=0.5) & (j=="b") & (k =="Forward charges"):
        l.append(f_b_fix)
    elif (i>0.5) & (j=="b") & (k == "Forward charges"):
        l.append(f_b_fix+(((i/0.5)-1)*f_b_add))
    elif (i<=0.5) & (j=="b") & (k == "Forward and RTO charges"):
        l.append(f_b_fix+r_b_fix)
    elif (i>0.5) & (j=="b") & (k == "Forward and RTO charges"):
        l.append((f_b_fix+(((i/0.5)-1)*f_b_add))+(r_b_fix+(((i/0.5)-1)*r_b_add)))
    
    elif (i<=0.5) & (j=="c") & (k =="Forward charges"):
        l.append(f_c_fix)
    elif (i>0.5) & (j=="c") & (k == "Forward charges"):
        l.append(f_c_fix+(((i/0.5)-1)*f_c_add))
    elif (i<=0.5) & (j=="c") & (k == "Forward and RTO charges"):
        l.append(f_c_fix+r_c_fix)
    elif (i>0.5) & (j=="c") & (k == "Forward and RTO charges"):
        l.append((f_c_fix+(((i/0.5)-1)*f_c_add))+(r_c_fix+(((i/0.5)-1)*r_c_add)))

    elif (i<=0.5) & (j=="d") & (k =="Forward charges"):
        l.append(f_d_fix)
    elif (i>0.5) & (j=="d") & (k == "Forward charges"):
        l.append(f_d_fix+(((i/0.5)-1)*f_d_add))
    elif (i<=0.5) & (j=="d") & (k == "Forward and RTO charges"):
        l.append(f_e_fix+r_e_fix)
    elif (i>0.5) & (j=="d") & (k == "Forward and RTO charges"):
        l.append((f_d_fix+(((i/0.5)-1)*f_d_add))+(r_d_fix+(((i/0.5)-1)*r_d_add)))

    elif (i<=0.5) & (j=="e") & (k =="Forward charges"):
        l.append(f_e_fix)
    elif (i>0.5) & (j=="e") & (k == "Forward charges"):
        l.append(f_e_fix+(((i/0.5)-1)*f_e_add))
    elif (i<=0.5) & (j=="e") & (k == "Forward and RTO charges"):
        l.append(f_e_fix+r_e_fix)
    elif (i>0.5) & (j=="e") & (k == "Forward and RTO charges"):
        l.append((f_e_fix+(((i/0.5)-1)*f_e_add))+(r_e_fix+(((i/0.5)-1)*r_e_add)))

In [40]:
l

[135.0,
 90.19999999999999,
 224.6,
 61.3,
 45.4,
 45.4,
 61.3,
 89.6,
 45.4,
 45.4,
 61.3,
 90.19999999999999,
 89.6,
 90.19999999999999,
 45.4,
 135.0,
 33,
 90.19999999999999,
 107.30000000000001,
 61.3,
 90.19999999999999,
 89.6,
 176.29999999999998,
 110.1,
 176.29999999999998,
 176.29999999999998,
 218.3,
 265.9,
 166.7,
 176.29999999999998,
 355.5,
 265.9,
 176.29999999999998,
 174.5,
 90.19999999999999,
 90.19999999999999,
 61.3,
 135.0,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 61.3,
 135.0,
 61.3,
 89.6,
 90.19999999999999,
 135.0,
 90.19999999999999,
 90.19999999999999,
 174.5,
 89.6,
 90.19999999999999,
 179.79999999999998,
 90.19999999999999,
 179.79999999999998,
 61.3,
 89.6,
 135.0,
 269.4,
 179.79999999999998,
 90.19999999999999,
 45.4,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 107.30000000000001,
 269.4,
 90.19999999999999,
 90.19999999999999,
 107.30000000000001,
 45.4,
 90.19999999999999,
 45.4,
 224.6,
 45.4,
 45.4,
 45.4,
 90.19999999999999,
 45.4,
 45.4,
 90.19999999999999,
 135.0,
 45.4,
 61.3,
 33,
 117.9,
 90.19999999999999,
 135.0,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 224.6,
 90.19999999999999,
 90.19999999999999,
 403.79999999999995,
 90.19999999999999,
 135.0,
 90.19999999999999,
 61.3,
 90.19999999999999,
 179.79999999999998,
 224.6,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 90.19999999999999,
 179.79999999999998,
 224.6,
 90.19999999999999,
 90.19999999999999,
 135.0,
 90.19999999999999,
 90.19999999999999,
 107.30000000000001,
 45.4,
 33,
 45.4]

In [41]:
df["x_value"] = h

In [42]:
df["Y_values"] = l

In [43]:
df

,Order ID,x_kg,y_kg,x_zone,y_zone,ship,x_value,Y_values
0,2001806232,0.5,1.5,d,d,Forward charges,45.4,135.0
1,2001806273,1.0,1.0,d,d,Forward charges,90.2,90.2
2,2001806408,1.0,2.5,d,d,Forward charges,90.2,224.6
3,2001806458,1.0,1.0,b,b,Forward charges,61.3,61.3
4,2001807012,0.5,0.5,d,d,Forward charges,45.4,45.4
...,...,...,...,...,...,...,...,...
119,2001812941,0.5,1.0,b,d,Forward charges,33.0,90.2
120,2001809383,1.0,0.5,b,d,Forward and RTO charges,110.1,107.3
121,2001820978,1.0,0.5,b,d,Forward charges,61.3,45.4
122,2001811475,1.0,0.5,e,b,Forward charges,112.1,33.0
123,2001811305,1.0,0.5,b,d,Forward charges,61.3,45.4

In [45]:
df.to_csv("Data import from python.csv")

In [46]:
df

,Order ID,x_kg,y_kg,x_zone,y_zone,ship,x_value,Y_values
0,2001806232,0.5,1.5,d,d,Forward charges,45.4,135.0
1,2001806273,1.0,1.0,d,d,Forward charges,90.2,90.2
2,2001806408,1.0,2.5,d,d,Forward charges,90.2,224.6
3,2001806458,1.0,1.0,b,b,Forward charges,61.3,61.3
4,2001807012,0.5,0.5,d,d,Forward charges,45.4,45.4
...,...,...,...,...,...,...,...,...
119,2001812941,0.5,1.0,b,d,Forward charges,33.0,90.2
120,2001809383,1.0,0.5,b,d,Forward and RTO charges,110.1,107.3
121,2001820978,1.0,0.5,b,d,Forward charges,61.3,45.4
122,2001811475,1.0,0.5,e,b,Forward charges,112.1,33.0
123,2001811305,1.0,0.5,b,d,Forward charges,61.3,45.4